<h2> My Tasks </h2>
<div class="alert alert-success" *ngIf = "message">
    {{message}}
</div>
<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Completion Date
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor =  " let task of tasks ">
            <td>
                {{task.description}}
            </td>
            <td>
                {{task.priority}}
            </td>
            <td>
                {{task.status}}
            </td>
            <td>
                {{task.targetDate | date}}
            </td>
            <td>
                <button (click) = "updateTask(task.id)" class="btn btn-warning"> Update</button>
            </td>
            <td>
                <button (click) = "deleteTask(task.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>

</table>

<button (click) = "addTask()" class="btn btn-success">Add</button>
</div>
